* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #303030;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 24px;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.btn{
  margin: 20px 10px 20px 0;
  padding: 12px 40px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
}
.btn:hover{
  cursor: pointer;
}
.dashboard{
  width: 100%;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow:  8px 8px 14px #eeeded,
              -8px -8px 14px #f8f7f7;
}
.text-center{
  text-align: center;
}

/* Thêm học viên */
.btn-add {
  color: white;
  background-color: #0cbd0c;
  border: 1px solid #0cbd0c;
}

/* Modal xác nhận xóa */
.btn-yes {
  color: white;
  background-color: #0cbd0c;
  border: 1px solid #0cbd0c;
}
.btn-no {
  background-color: #fff;
  border: 1px solid #303030;
}

/* Bảng danh sách học viên */
table {
  width: 100%;
}

td, th {
  text-align: left;
  padding: 10px;
  border: none;
}
th {
  background-color: #060929;
  color: white;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

/* Bảng điền thông tin học viên */
input {
  width: 100%;
  height: 40px;
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 15px;
}
